In [2]:
import pandas as pd
from bs4 import BeautifulSoup
from splinter import Browser
import time
url = 'https://www.vgchartz.com/games/games.php?name=&keyword=&console=&region=All&developer=&publisher=&goty_year=&genre=&boxart=Both&banner=Both&ownership=Both&showmultiplat=No&results=200&order=Sales&showtotalsales=0&showpublisher=0&showpublisher=1&showvgchartzscore=0&shownasales=0&showdeveloper=0&showcriticscore=0&showpalsales=0&showreleasedate=0&showreleasedate=1&showuserscore=0&showjapansales=0&showlastupdate=0&showothersales=0&showshipped=0&showshipped=1'

In [18]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)
time.sleep(5)

list_1 = []
list_2 = []
list_3 = []
list_4 = []

for i in range(2, 7):
    try:
        html = browser.html
        time.sleep(5)
        print("Got the HTML!")
        df = pd.read_html(html)
        df = pd.DataFrame(df[6])
        field_1 = df['Results: (57,662)']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Game.1']
        try:
            field_2 = df['<< 1 2 3 4 5 6 >>']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Publisher']
            field_3 = df['<< 1 2 3 4 5 6 >>']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Total Shipped']
            field_4 = df['<< 1 2 3 4 5 6 >>']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Release Date']
            print("Got all the fields!")
        except:
            try:
                field_2 = df['<< 1 2 3 4 5 6 7 >>']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Publisher']
                field_3 = df['<< 1 2 3 4 5 6 7 >>']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Total Shipped']
                field_4 = df['<< 1 2 3 4 5 6 7 >>']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Release Date']
                print("Got all the fields!")
            except:
                try:
                    field_2 = df['<< 1 2 3 4 5 6 7 8 >>']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Publisher']
                    field_3 = df['<< 1 2 3 4 5 6 7 8 >>']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Total Shipped']
                    field_4 = df['<< 1 2 3 4 5 6 7 8 >>']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Release Date']
                    print("Got all the fields!")
                except:
                    try:
                        field_2 = df['<< 1 2 3 4 5 6 7 8 9 >>']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Publisher']
                        field_3 = df['<< 1 2 3 4 5 6 7 8 9 >>']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Total Shipped']
                        field_4 = df['<< 1 2 3 4 5 6 7 8 9 >>']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Release Date']
                        print("Got all the fields!")
                    except:
                        try:
                            field_2 = df['<< 1 2 3 4 5 6 7 8 9 10 >>']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Publisher']
                            field_3 = df['<< 1 2 3 4 5 6 7 8 9 10 >>']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Total Shipped']
                            field_4 = df['<< 1 2 3 4 5 6 7 8 9 10 >>']['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']['Release Date']
                            print("Got all the fields!")
                        except:
                            print("Welp")

        col_1 = list(field_1)
        col_2 = list(field_2)
        col_3 = list(field_3)
        col_4 = list(field_4)
        for item in col_1:
            list_1.append(item)
        for item in col_2:
            list_2.append(item)
        for item in col_3:
            list_3.append(item)
        for item in col_4:
            list_4.append(item)
        browser.find_by_xpath(f'/html/body/div[3]/div/div[2]/table/tbody/tr/td/div/div[2]/table[1]/tbody/tr[1]/th[2]/span[{i}]/a').click()
        print("Success!")
        time.sleep(5)
    except:
        print("Hmmm. Error")
        continue

browser.quit()

new_df = pd.DataFrame(list(zip(list_1, list_2, list_3, list_4)), columns=['Title', 'Publisher', 'Sales', 'Released'])
new_df = new_df.set_index('Title')
new_df = new_df.dropna()
new_df

Got the HTML!
Got all the fields!
Success!
Got the HTML!
Got all the fields!
Success!
Got the HTML!
Got all the fields!
Success!
Got the HTML!
Got all the fields!
Success!
Got the HTML!
Got all the fields!
Success!

                                            Publisher    Sales     Released
Title
Pokemon                                      Nintendo  365.60m  28th Sep 98
Super Mario                                  Nintendo  356.59m  20th Jul 83
Grand Theft Auto                            ASC Games  310.00m  27th Mar 98
Call of Duty                               Activision  300.00m  29th Oct 03
FIFA                                        EA Sports  282.40m  15th Dec 93
...                                               ...      ...          ...
Kirby Star Allies Read the review            Nintendo    2.56m  16th Mar 18
Kirby: Triple Deluxe                         Nintendo    2.56m  02nd May 14
Pokémon Stadium 2                            Nintendo    2.54m  28th Mar 01
Dragon Ball: Xenoverse 2           Namco Bandai Games    2.52m  25th Oct 16
Perfect Dark                                     Rare    2.52m  22nd May 00

[580 rows x 3 columns]

In [19]:
new_df.to_csv('game_data.csv')